.top__container {
  text-align: center;
  width: 100%;
}

.title__container {
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e52d27 , #b31217); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e52d27 , #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  padding: 100px 5%;
  margin-bottom: 30px;
}

.title__primary {
  font-size: 30px;
  font-family: Arial;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
